apiVersion: apps/v1
kind: Deployment
metadata:
  name: wordpress
  labels:
    app: wordpress
spec:
  
  strategy:
    type: Recreate

  selector:
    matchLabels:
      app: wordpress

  template:
    metadata:
      labels:
        app: wordpress
    spec:
      containers:
      - name: wordpress
        image: wordpress:4.8-php7.0-apache
        ports:
          - containerPort: 80
        env:
          - name: WORDPRESS_DB_HOST
            value: wordpress-mysql

          - name: WORDPRESS_DB_PASSWORD
            value: password

        volumeMounts:
          - name: wordpress-persistent-storage
            mountPath: /var/www/html

      volumes:
        - name: wordpress-persistent-storage
          persistentVolumeClaim:
            claimName: wp-pv-claim  



              
      


